In [ ]:
!pip install pm4py

In [6]:
import pandas as pd

df = pd.read_csv('data/running_example.csv', sep=';')
df.head()

   case_id            activity                  timestamp  costs org:resource
0        3    register request  2010-12-30 14:32:00+01:00     50         Pete
1        3    examine casually  2010-12-30 15:06:00+01:00    400         Mike
2        3        check ticket  2010-12-30 16:34:00+01:00    100        Ellen
3        3              decide  2011-01-06 09:18:00+01:00    200         Sara
4        3  reinitiate request  2011-01-06 12:18:00+01:00    200         Sara

In [7]:
# number of cases
len(df['case_id'].unique())

6

In [8]:
# number of events
len(df)

42

In [10]:
import pm4py
log = pm4py.format_dataframe(df, case_id='case_id',activity_key='activity',
                             timestamp_key='timestamp')
log.head()

,case_id,activity,timestamp,costs,org:resource,case:concept:name,concept:name,time:timestamp,@@index,@@case_index
0,1,register request,2010-12-30 10:02:00+00:00,50,Pete,1,register request,2010-12-30 10:02:00+00:00,0,0
1,1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,1,examine thoroughly,2010-12-31 09:06:00+00:00,1,0
2,1,check ticket,2011-01-05 14:12:00+00:00,100,Mike,1,check ticket,2011-01-05 14:12:00+00:00,2,0
3,1,decide,2011-01-06 10:18:00+00:00,200,Sara,1,decide,2011-01-06 10:18:00+00:00,3,0
4,1,reject request,2011-01-07 13:24:00+00:00,200,Pete,1,reject request,2011-01-07 13:24:00+00:00,4,0

In [11]:
pm4py.get_start_activities(log)

{'register request': 6}

In [12]:
pm4py.get_end_activities(log)

{'reject request': 3, 'pay compensation': 3}